/*
 * Globals
 */
* {
  margin: 0;
  padding: 0;
}

a,
a:focus,
a:hover {
  color: #fff;
}

body {
  background-color: #ddd;
}

/*
 * Header
 */
.itemhead .nav-item .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  margin-right: 0.7rem;
}

.itemhead .nav-item .nav-link:hover,
.itemhead .nav-item .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.itemhead .nav-item .active {
  color: #fff;
  border-bottom-color: #fff;
}

/* Dropdown */
.dropdown-menu a:hover {
  background-color: #FFCE62;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/*
 * Carousel
 */
.carousel {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* slide background */
.carousel-item {
  height: 32rem;
  background-image: url(../../media/Web-Semar-Project/Blog/1.Konfeksi-VS-Konveksi/bigstock-Textile-And-Garment-Factory-204454279.jpg);
  background-size: cover;
  background-position: center;
}